<br/><font color="white">
<h2>Forgot your password?</h2><br/><br/></font>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, :class=>"linkscolor" %>
  <%= f.email_field :email, :class=>"signup" %></div>

  <div><%= f.submit "Send me reset password instructions", :class=>"signbutton" %></div>
<% end %>

<%= render "links" %>