<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>JOB Portal</title>
<link rel="shortcut icon" href="/assets/logo.jpg" />
<link href="/assets/application.css" rel="stylesheet" type="text/css" media="screen" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29134563-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
	<div class="meta">
		<div class="metalinks">
			<a href="/home/index"><img src="/assets/meta1.gif" alt="" width="15" height="14" /></a>
			<a href="#"><img src="/assets/meta2.gif" alt="" width="17" height="14" /></a>
			<a href="#"><img src="/assets/meta3.gif" alt="" width="17" height="14" /></a>
			<a href="/users/auth/facebook" title="Register or Login with Facebook"><img src="/assets/facebook.png" alt="" width="15" height="14" /></a>
		</div>
  		<p>Recruiters: <% if current_user %><%=link_to"Logout",destroy_user_session_path, :method=>"delete", :controller=>"home",:action=>"index"%> <%else%> 
			<a href="/users/sign_in">Log in</a> <%end%>or <a href="/admin/user_details/index">Admin</a></p>																																															
	</div>
	<div id="header">
		<a href="index.html" class="logo"><img src="/assets/logo.jpg" alt="setalpm" width="149" height="28" /></a>
		<span class="slogan">Your Key to Success</span>
		<ul id="menu">
			<li><a href="/home/index">Home</a></li>
			<li><a href="#">Employer</a></li>
			<li><a href="#">Our Career</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="/project/index">Project</a></li>
			<% if current_user %>
			<li class="last"><%=link_to"Logout",destroy_user_session_path, :method=>:delete%></li>
			<%else%>
			<li class="last"><a href="/users/sign_up">Register</a></li>
			<%end%>
		</ul>
		<img src="/assets/bigpicture.jpg" alt="" width="892" height="303" />
	</div>
	<div id="content">
	<div class="search">
	<center><font color="red">
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p></font></center>
	<%= render :partial => "/search/project_search" %>
		      </div>
					</div>
    
						<br/>
<div id="profile_blocks">																																																																																																																													
  			<div class="profile_block">
								<%=yield%>
								
							</div>
		</div>
		<div id="info">
			<div>
				<img src="/assets/title5.gif" alt="" width="160" height="26" /><br/><br/>	
<p>To find the job you want you need to look at your skills and the type of job you want to do. You then need to plan how you will go about looking for it.Search online for the latest jobs and volunteering opportunities - volunteering can help you develop and learn new skills while you're looking for a job</p>
			</div>
			<div>
				<img src="/assets/title6.gif" alt="" width="160" height="26" />
			        <ul>
					<li><a href="#">Which career is right for you?</a></li>
					<li><a href="#">Career considerations</a></li>
					<li><a href="#"> Changing career</a></li>
					<li><a href="#">Public sector careers</a></li>
					<li><a href="#">Helping you into work</a></li>
					<li><a href="#">Volunteering in work</a></li>
					<li><a href="#">More about planning a career</a></li>
					</ul>
			</div>
			<div>
				<img src="/assets/title7.gif" alt="" width="160" height="26" /><br/><br/>
				<p>Start by asking yourself honestly what skills and experience you have. Think about the skills you have developed in the jobs you have had before, and in your life outside of work.did you develop any skills that will be useful in the job you're looking for?
have you worked as part of a team?</p>
				
			</div>
			<div>
				<img src="/assets/title8.gif" alt="" width="160" height="26" />
        <ul>
					<li><a href="#">Impeccable Info Tech</a></li>
					<li><a href="#">Lamda Info tech</a></li>
					<li><a href="#">jobseeker</a></li>
					<li><a href="#">Indianjobs</a></li>
					<li><a href="#">USjobs</a></li>
					<li><a href="#">UK jobs</a></li>
					<li><a href="#">TamilNadu Jobs</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		Copyright &copy; 2012 2i-infotech.in. All rights reserved. Design by 
		<a href="http://2i-infotech.in/" target="_blank" title="Impeccable Info Tech">2i-infotech.in</a> 																																																						
	</div>
</body>
</html>